*, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-etchasketch {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.main-cleared {
  animation: anim .3s;
}

@keyframes anim {
  25%{
    transform: translateX(10px);
  }
  50%{
    transform: translateX(-10px);
  }
  75%{
    transform: translateX(10px);
  }
}

.grid-item {
  box-sizing: border-box;
}

.active-item {
  background-color: black;
}